/* Navbar styling start */
.navbar-brand
{
  padding:13px 15px;
}

/* Navbar styling end */
#main-tab{
  margin-top: 100px;

}
#main-tab .tab-content{
  width: 100% !important;
  height: auto;
  overflow: hidden;
  border:1px solid #e3e3e3;
  border-top: none;
}
#main-tab  .nav-tabs li {
  width:33.3333333333333%;
  text-align: center;

}
#main-tab  .nav-tabs li a{
    color:black;
    font-size: 14px;
}


.tab-content {
  background-color: #F8F8F8;
}

#agentAnalytics {
  height: 100%;
}

#agentAnalytics .criteriaPane {
  border-radius: 0px;
  border: 0px;
  border-bottom: 2px solid lightgrey;
  height: 50px;
}

#agentAnalytics .criteriaGroup {
  width: 28%;
  height: 100%;
}

.wrap {
  width: 72%;
  float: right;
  height: 100%;
  border-left: 1px solid lightgrey;
}

.wrap .page-header {
  margin: 0px;
  text-align: center;
}

.wrap .well {
  margin: 20px;
}

.wrap svg{
  display: block;
  margin: auto;
  margin: 15px auto;
}

.nav li.active a{
  background-color: lightblue !important;
}


/*tooltip styling*/
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}






/*---------------------------------------log listing page stylesheet------------------------------------------------*/
.logButtonStyle{
    border-radius: 0px;
    border: 0px;
    border-bottom: 2px solid lightgrey;
    border: 0.5px solid white;
    height: 50px;
    width: 100%;
    margin-left: 0;
    padding: 6px 12px;
    overflow:visible;
    white-space: normal;
    margin-top: -0.5px;
    color: #333;
    background-color: #fff;
}

.buttonClicked{
  color: blue;
}
.logcontainer{
  margin-top: 0px;
  font-size: 1em;
  font-family: sans-serif;
  padding: 0;
  line-height: 40px;
  float: left;
  width:28%;
}
.Mytable{
  margin-top: 0px;
  width: 72%;
  float: left;
  height: 600px;
}
.Mytable tr{
  width: 50px;
}
table, td, tr{
   border: 1px solid #e3e3e3;
   text-align: center;
   width: 820px;
}
.Mytable td{
  padding: 5px;
}

.header {
  font-size: 14px;
  font-style: none;
  margin-left: 318px;
  margin-top: 20px;
  background: white;
}

.page-header {
  margin: 0px;
  text-align: center;
}

/*Buttons nxt*/
/*#prev{
  float: left;
}

.prev_next{
  visibility: hidden;
  margin-left: 800px;
  margin-bottom: 20px;
}*/

/*----------------------------------------------logListing Stylesheet end------------------------------------------------------------*/

/************************************************Traffic Page Stylesheet ********************************************************************/
#requestRate {
  min-height: 400px;
}

.tab-pane h2 {
  display: inline-block;
  padding-left: 2%;
}

.tab-pane small{
  display: inline-block;
  color: grey;
}

.dropdown.month_text,.dropdown.year_text,.crossMonthFilter{
float: left;
padding: 10px;
}
.dropdown.month_text{
  padding-right: 0px;
}
#clear_filters,.crossMonthFilter{
  padding: 10px;
  padding-top: 18px;
}
.crossMonthFilter{
  padding-top: 10px;
  padding-left: 0px;
}
.disableClick{
  pointer-events:none;
}

.axis path,
.axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

.traffic{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  text-align: center;
}

.traffic no_data{
  font-size: 20px;
}

.line {
fill: none;
stroke: steelblue;
stroke-width: 1.5px;
}

/* Traffic Page End*******************************************************************************************/
