<div class="page-header">
  <h2><small>Traffic rates of different types of requests in given time are plotted here</small></h2>
  <div class="filters pull-right">
    <div class="dropdown year_text">
      <button   class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
       <span class="changeColour" ng-bind="yearSelected"></span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu year" aria-labelledby="dropdownMenu1">
        <li ng-repeat="year in years">
          <a ng-href="" ng-click="renderYearTraffic(year)" ng-cloak>
            {{year}}
          </a>
        </li>
      </ul>
    </div>

    <div class="dropdown month_text">
      <button  ng-disabled="monthMenu" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
         <span class="changeColour" ng-bind="monthSelected"></span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu months" aria-labelledby="dropdownMenu1">
        <li ng-repeat="month in months"><a ng-href="" ng-click="renderMonthTraffic(month.month,month.value)" ng-cloak>{{month.month}}</a></li>
      </ul>
      <a  ng-disabled="monthSwitch" ng-click="monthFilter()" class="btn btn-link">
        <!-- <img src="images/crossCircle.png" alt="cross circle"> -->
        <i class="fa fa-times"></i>
      </a>
    </div>
    <a  ng-disabled="clearSwitch" ng-click="clearFilters()"  ng-right-click="decrement()" class="btn btn-link" id="clear_filters" >Clear All</a>
</div>
</div>
<div><g></g></div>
<div class="load"><img class="trafficProgressIcon" ng-show="showProgress" src="svg/cube.svg" alt="progress"></div>
<serverdown></serverdown>
<div class="traffic well"> <traffic-rate-directive data="trafficData" year="yearSelected" month="monthValue"></traffic-rate-directive></div>
