<!-- <div class="page-header">
  <h2><small>Traffic rates of different types of requests in given time are plotted here</small></h2>
  <div class="pull-right">
    <div class="dropdown year_text">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Year
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu year" aria-labelledby="dropdownMenu1">
        <li ng-repeat="year in years"><a href="#" ng-click="render()">{{year}}</a></li>
      </ul>
    </div>

    <div class="dropdown month_text">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Month
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu months" aria-labelledby="dropdownMenu1">
        <li ng-repeat="month in months"><a href="#" value=$index ng-click="render()">{{month}}</a></li>
      </ul>
    </div>
  <div  class="crossMonthFilter"><a href="#" class="btn btn-link"><img src="images/crossCircle.png" alt="cross circle"></a></div>
  <a href="" class="btn btn-link" id="clear_filters">Clear All Filters</a>
  </div>
</div>
<!-- <div class="population-plot"></div> -->
<!-- <div class="pp-plot"></div> -->
<div><g></g></div>
<div class="traffic well"></div> -->
