<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app='logAggregator' ng-controller='appController'>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>LogAggregator</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="js/lib/bootstrap/dist/css/bootstrap.min.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="styles/style.css">

  <script src="js/lib/d3/d3.min.js"></script>
  <script src=""></script>
</head>
<body>
  <!--nav bar start -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-target=".navbar-responsive-collapse" data-toggle="collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="images/logo.png" alt="Logo" height="100%"></a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li class="" ><a href="#">Home</a></li>
          <li class="dropdown" id="home">
            <a href="#"  class="dropdown-toggle" data-toggle="dropdown">
              About us<strong class="caret"></strong>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Services</a>
              </li>

              <li>
                <a href="#">Team</a>
              </li>

              <li>
                <a href="#">Work Culture</a>
              </li>

              <li>
                <a href="#">Careers</a>
              </li>
            </ul><!-- end dropdown-menu -->
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-user"></span> My Account<strong class="caret"></strong>
            </a>
            <ul class="dropdown-menu">
              <table class="table table-hover">
                <tr>
                  <td>
                    <li>
                      <a href="#"><span class="glyphicon glyphicon-wrench"></span> Settings</a>
                    </li>
                  </td>
                </tr>
                <tr>
                  <td>
                    <li>
                      <a href="#"><span class="glyphicon glyphicon-refresh"></span> Update Profile</a>
                    </li>
                  </td>
                </tr>
                <tr>
                  <td>
                    <li>
                      <a href="#"><span class="glyphicon glyphicon-briefcase"></span> Billing</a>
                    </li>
                  </td>
                </tr>
                <tr>
                  <!-- <li class="divider"></li> -->
                  <td>
                    <li>
                      <a href="#"><span class="glyphicon glyphicon-off"></span> Sign out</a>
                    </li>
                  </td>
                </tr>
              </table>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav><!-- Navbar End-->
  <div class="container-fluid">
    <div class="tabbable" id="main-tab">
      <ul class="nav nav-tabs">
        <li class="active tab1"><a href="#logListing" data-toggle="tab">Log Listing</a></li>
        <li class="tab2"><a href="#agentAnalytics" data-toggle="tab">User Agent</a></li>
        <li class="tab3"><a href="#requestRate" data-toggle="tab">Request Rate</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane" id="logListing">
          <div class="page-header">
            <h2><small>Listing of all requests based on path</small></h2>
          </div>
          <div class="header"></div>

              <div class="logcontainer"></div>
              <div class="Mytable">
                <table id='personDataTable'> </table>
              </div>
        </div><!-- end tab-pane -->

      <div class="tab-pane active" id="!/agentAnalytics" ng-view>

      </div>  <!-- end tab-pane -->

      <div class="tab-pane" id="requestRate">
        <!--Traffic  Page  Traffic  Page   Traffic  Page   Traffic  Page   Traffic  Page   Traffic  Page-->
        <div class="page-header">
          <h2><small>Traffic rates of different types of requests in given time are plotted here</small></h2>
          <div class="pull-right">
            <div class="dropdown year_text">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Year
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu year" aria-labelledby="dropdownMenu1">
                <script id=blogTemplate type=tuts/template>
                <li><a href="#">{{Year}}</a></li>
                </script>
              </ul>
            </div>

            <div class="dropdown month_text">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Month
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu months" aria-labelledby="dropdownMenu1">
                <li><a href="#" value=01>January</a></li>
                <li><a href="#" value=02>February</a></li>
                <li><a href="#" value=03>March</a></li>
                <li><a href="#" value=04>April</a></li>
                <li><a href="#" value=05>May</a></li>
                <li><a href="#" value=06>June</a></li>
                <li><a href="#" value=07>July</a></li>
                <li><a href="#" value=08>August</a></li>
                <li><a href="#" value=09>September</a></li>
                <li><a href="#" value=10>October</a></li>
                <li><a href="#" value=11>November</a></li>
                <li><a href="#" value=12>December</a></li>
              </ul>
            </div>
          <div  class="crossMonthFilter"><a href="#" class="btn btn-link"><img src="images/crossCircle.png" alt="cross circle"></a></div>
          <a href="" class="btn btn-link" id="clear_filters">Clear All Filters</a>
          </div>
        </div>
        <!-- <div class="population-plot"></div> -->
        <!-- <div class="pp-plot"></div> -->
        <div><g></g></div>
        <div class="traffic well"></div>
        <!--Traffic  Page  Traffic  Page   Traffic  Page   Traffic  Page   Traffic  Page   Traffic  Page-->
      </div><!-- end tab-pane -->

    </div><!-- end tab-content -->
  </div><!-- end tabbable -->
</div>



<!-- All Javascript at the bottom of the page for faster page loading -->

<script src="js/lib/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="js/lib/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="js/lib/d3-legend/d3-legend.min.js"></script>
<script src="js/lib/d3-tip/index.js"></script>

<script type="text/javascript" src="/js/lib/angular/angular.js"></script>
<script type="text/javascript" src="/js/lib/angular-route/angular-route.js"></script>

<!-- <script type="text/javascript" src="/userAgent/userAgent.module.js"></script> -->
<!-- <script type="text/javascript" src="/userAgent/controllers/userAgent.controller.js"></script> -->


<script type="text/javascript" src="/js/application.js"></script>
<script type="text/javascript" src="/js/logAggregator.routes.js"></script>
<!-- <script type="text/javascript" src="/js/nginx/logAggregator.controller.js"></script> -->
<script type="text/javascript" src="/js/nginx/userAgent/userAgent.module.js"></script>
<script type="text/javascript" src="/js/logAggregator.controller.js"></script>

</body>
</html>
