<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-controller='mainController' ng-init="showContent=false">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Tattva</title>


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="js/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="styles/style.css">
  <script type="text/javascript" src="/js/lib/angular/angular.js"></script>
  <script type="text/javascript" src="/js/lib/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="/js/lib/angular-cookies/angular-cookies.js"></script>

  <script src="js/lib/d3/d3.min.js"></script>
</head>
<body>

    <div class="homepage">
    <!--nav bar start -------->
    <div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-target=".navbar-responsive-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand logo" href="/#/">Tattva</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li class="active-nav" ng-class="{active: (tab == 'logListing')}"><a ng-href="#logListing" ng-click="tab='logListing'">Home <i class="fa fa-home fa-fw"></i></a>
            </li>
            <li><a ng-click="aboutus()" class="btn btn-link">About us</a></li>
            <li><a ng-href="#/" ng-click="tab='logListing'" class="nginx">nginx</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="" >
              <a ng-href="#changePassword" class="change-pass btn btn-link">
              Change Password <i class="fa fa-unlock"></i></a></li>
            <li class="" ><a class="btn btn-link" ng-click="logout()">Logout <i class="fa fa-power-off fa-fw"></i></a></li>
          </ul>
        </div>
      </div>
    </nav><!-- Navbar End-->
    </div>

    <div class="container-fluid ">
      <div class="tabbable" id="main-tab">
        <div class="homepage watchlist-tabs ng-cloak">
        <ul class="nav nav-tabs" >
          <li ng-class="{active: (tab == 'logListing')}"><a ng-href="#logListing" ng-click="tab='logListing'">Log Listing</a></li>
          <li ng-class="{active: (tab == 'agentAnalytics')}"><a ng-href="#agentAnalytics" ng-click="tab='agentAnalytics'">User Agent</a></li>
          <li ng-class="{active: (tab == 'requestRate')}"><a ng-href="#requestRate" ng-click="tab='requestRate'">Request Rate</a></li>
        </ul>
      </div>
        <div class="tab-pane" ng-view="">
        </div>  <!-- end tab-pane -->
      </div>
    </div>

  <!-- All Javascript at the bottom of the page for faster page loading -->

  <script src="js/lib/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="js/lib/bootstrap/dist/js/bootstrap.min.js"></script>

  <script src="js/lib/d3-legend/d3-legend.min.js"></script>
  <script src="js/lib/d3-tip/index.js"></script>



  <script type="text/javascript" src="/js/application.js"></script>
  <script type="text/javascript" src="/js/logAggregator.controller.js"></script>
  <script type="text/javascript" src="/js/nginx/auth/controllers/auth.controller.js"></script>
  <script type="text/javascript" src="/js/nginx/auth/controllers/changePasswordController.js"></script>
  <script type="text/javascript" src="/js/nginx/userAgent/directives/agentPieChart.directive.js"></script>
  <script type="text/javascript" src="/js/nginx/userAgent/services/userAgent.service.js"></script>
  <script type="text/javascript" src="/js/nginx/userAgent/controllers/userAgent.controller.js"></script>
  <script src="/js/nginx/trafficRate/directives/trafficRate.directive.js" ></script>
  <script type="text/javascript" src="/js/nginx/trafficRate/services/trafficRate.service.js"></script>
  <script type="text/javascript" src="/js/nginx/trafficRate/controllers/trafficRate.controller.js"></script>
  <script type="text/javascript" src="/js/nginx/auth/controllers/aboutusController.js"></script>

  <script type="text/javascript" src="/js/logAggregator.routes.js"></script>
  <script type="text/javascript" src="/js/logAggregator.service.js"></script>

  <script type="text/javascript" src="/js/nginx/logListing/services/logServices.js"></script>
  <script type="text/javascript" src="/js/nginx/logListing/controllers/logListing.controller.js"></script>
  <script type="text/javascript" src="/js/nginx/logListing/filters/logListingFilters.js"></script>

</body>
</html>
