<div class="aboutus">
  <!-- <h2>About us</h2>
  <p>In this digital world, there is huge amount of real time data coming from servers, IOT devices, click streams, and so on.
     It is really important to continously monitor this real time data to increase performanace, enhance productivity, and to ensure security.
     Tattva is a leading platform which focuses on gathering such data, analyzing and generating patterns for triggering appropriate actions.

  </p> -->
  <div class="card">
    <div class="header">
      <h2>About us</h2>
    </div>

    <div class="aboutusContainer">
      <p>
        In this digital world, there is huge amount of real time data coming from servers, IOT devices, click streams, and so on.
        It is really important to continously monitor this real time data to increase performanace, enhance productivity, and to ensure security.
        Tattva is a leading platform which focuses on gathering such data, analyzing and generating patterns for triggering appropriate actions.
       </p>
    </div>
  </div>
</div>
