
  <div class="login-page">
    <h1> LogAggregator </h1>
    <p> Your way to analyze logs better </p>
  </div>
  <div class="login-main-tabs">
    <div class="tabbable login-tabbable">
      <ul class="nav nav-tabs login-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Log In</a></li>
        <li><a href="#tab2" data-toggle="tab">Sign Up</a></li>
      </ul>
      <div class="tab-content login-content">
        <div class="tab-pane active" id="tab1">
        <div class="left-inner-addon ">
          <span class="fa fa-user"></span>
          <input type="text" ng-model="username"
          class="form-control"
          placeholder="Username" required/>
        </div>
        <div class="left-inner-addon ">
          <span class="fa fa-lock"></span>
          <input type="password" ng-model="password"
          class="form-control"
          placeholder="Enter Password" required />
        </div>
        <a ng-click="login(username,password)" class="btn btn-success btn-lg active login-button" role="button">Log In</a>
        <center><h4>{{loginMessage}}</h4></center>
      </div><!-- end tab-pane -->

      <div class="tab-pane" id="tab2">
          <div class="left-inner-addon">
          <input type="text" id="fname" ng-model="firstName" placeholder="First Name" class="form-control" required />

            <input type="text" id="lname" ng-model="lastName" placeholder="Last Name" class="form-control" required />
          </div>
          <div class="left-inner-addon ">
            <span class="fa fa-user"></span>
           <input type="text" ng-model="username" placeholder="User Name" class="form-control" required />
          </div>
          <div class="left-inner-addon ">
            <span class="fa fa-envelope"></span>
 <input type="email" ng-model="email" placeholder="Email" class="form-control" required />
          </div>
          <div class="left-inner-addon ">
            <span class="fa fa-lock"></span>
    <input type="password" ng-model="password" placeholder="Password" class="form-control" required />
          </div>
          <div class="left-inner-addon ">
            <span class="fa fa-key"></span>
<input type="password" ng-model="confirmPassword"placeholder="Confirm Password" class="form-control" required />
          <span ng-bind="checkPassword"></a>
          </div>
 <a ng-click='register()' class="btn btn-primary btn-lg btn-success sign-button" id="create" role="button">Create Account</a>

      </div><!-- end tab-pane -->
    </div><!-- end tab-content -->
  </div><!-- end tabbable -->
</div>
