<div class="update-password">
  <div class="left-inner-addon">
    <span class="fa fa-lock"></span>
    <input type="password" ng-model="password"
    class="form-control"
    placeholder="Enter Old Password" required />
  </div>
  <div class="left-inner-addon">
    <span class="fa fa-lock"></span>
    <input type="password" ng-model="newPassword"
    class="form-control"
    placeholder="Enter New Password" required />
  </div>
  <div class="left-inner-addon">
    <span class="fa fa-key"></span>
    <input type="password" ng-model="confirmNewPassword"
    class="form-control"
    placeholder="Confirm New Password" required />
  </div>
  <a ng-click="changePassword()" class="btn btn-success btn-lg active update-button" role="button">Update</a>
</div>

<!-- <div class="test"></div> -->
