<div class="btn-group-vertical criteriaGroup" role="group" aria-label="...">
  <button type="button" ng-class="{btn: true, 'btn-default':true, 'criteriaPane':true, 'withBorder': (agentCriteria == 'browser')}" value=browser id="browserShare" ng-click="renderData('browser')">Browser Share</button>
  <button type="button" ng-class="{btn: true, 'btn-default':true, 'criteriaPane':true, 'withBorder': (agentCriteria == 'os')}" value=os id="osShare" ng-click="renderData('os')">OS Share</button>
</div>
<div class="wrap" ng-init = "tab = 'agentAnalytics'">
  <div class="page-header">
    <h2 class="agent-header"><small>This plot gives the Browser and OS shares of the requests</small></h2>
    <div class="filters">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle"  type="button" id="yearDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-cloak>
          {{agentYear}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu yearSelect" aria-labelledby="yearDropDown">
          <li ng-repeat="year in yearsToShow">
            <a href='' ng-click="updateAgentYear(year)" ng-cloak>{{year}}</a>
          </li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" ng-disabled="checkIfDisable()" type="button" value="0" id="monthDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-cloak>
          {{agentMonthName}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu monthSelect" aria-labelledby="monthDropDown">
          <li ng-repeat='month in config.months'>
            <a ng-href='' ng-click='updateAgentMonth(month)' ng-cloak>{{month.month}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="well">
    <img class="AgentProgressIcon" ng-show="showAgentProgress" src="svg/cube.svg" alt="progress">
    <agent-pie-chart data="agentData" show-agent-progress="showAgentProgress" criteria="agentCriteria" user-agent-filters="config.userAgentFilters"></agent-pie-chart>
  </div>
</div>
