<div class="page-header">
  <h2><small> Listing of all requests based on path </small></h2>
</div>

<!-- **Displaying all paths **********************************************************  -->

<div class="logcontainer" >

 <table>
    <tr>
      <td>
        <button ng-class = "{btn: true,'withBorder': (view == 'All'), 'btn-default': true , 'mouseover':hovering } "ng-click = 'pathClickEvent("All")' class = "logButtonStyle" ng-mouseenter = "hovering = true" ng-mouseleave = "hovering = false">
            Most Visited Paths
        </button>
      </td>
    </tr>
    <tr ng-repeat="obj in Path_Count">
      <td>
        <button ng-click= 'pathClickEvent(obj)' class = "logButtonStyle" ng-class = "{btn: true, 'btn-default':true, 'withBorder': (obj.path == currentpath ), 'mouseover': hovering}" ng-mouseenter = "hovering = true" ng-mouseleave = "hovering = false">
            {{obj.path}}
              <span>
                 ({{obj.count}})
              </span>
        </button>
      </td>
    </tr>
 </table>
</div>

 <!-- **Displaying data for selected path *************************************************  -->

<div class="PathDataTable" >
  <table >
    <tr ng-model = "clickedPath[0]">
      <td ng-repeat = "(key,value) in clickedPath[0]" class = "headings" ng-if = "(view == 'path') && ($index != 0) && ($index != 5) && ($index != 3) && ($index != 10)">
          {{ key| uppercase }}
      </td>
      <td ng-repeat = "(key,value) in clickedPath[0]" ng-if = "(view == 'All') && ($index != 0) && ($index != 3) && ($index != 10)" class = "headings">
         {{ key| uppercase}}
      </td>
    </tr>

    <tr ng-repeat = "obj in clickedPath">
      <td ng-repeat = "(key,value) in obj" ng-if = "(key == 'agent')" title= {{value}}>
         <abbr> {{value | agentFilter }} </abbr>
      </td>
      <td ng-repeat = "(key,value) in obj" ng-if="(view=='path') && ($index != 0) && ($index != 5) && ($index != 3) && ($index != 10) && (key != 'size') && (key != 'time') && (key != 'agent')">
         {{value}}
      </td>
      <td ng-repeat = "(key,value) in obj" ng-if = "(view == 'All') && ($index != 0) && ($index != 3) && ($index != 10) && (key != 'size') && (key != 'time') && (key != 'agent')">
         {{value}}
      </td>
      <td ng-repeat = "(key,value) in obj" ng-if = "(key == 'size')" >
         {{ value | sizeFilter }}
      </td>
      <td ng-repeat = "(key,value) in obj" ng-if = "(key == 'time')" >
         {{ value | date : 'd-MMMM-yyyy HH:mm:ss'}}
      </td>
    </tr>

  </table>

<!-- Pagenation ************************************************************************ -->

  <div>
    <span ng-if = "(no_of_pgs > 1)" ng-repeat = "pg in getPgs(no_of_pgs) track by $index">
       <button  class = "pageno" ng-class = "{'currentpage': ( currentpage == ($index+1) )}" ng-click = 'pagenoClickEvent(($index+1))'>
         {{ $index+1 }}
       </button>
    </span>
  </div>

</div>
